@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ec6769;
  --color-secondry: #907070;
  --font-League-Spartan: "League Spartan", sans-serif;
  --font-DM-Sans: "DM Sans", sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(#1c0e0e, #0f0f0f);
  width: 100%;
  background-repeat: no-repeat;
  font-family: "DM Sans", sans-serif;
  color: white;
}

@layer components {
  .gradiant-border {
    @apply bg-linear-to-tl from-primary to-[#863A3C] p-px rounded-lg;
  }
  .box-of-gradiant-border {
    @apply bg-[#1c0e0e] rounded-lg p-3
  }
}
